@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

.sec1 {
  background-image: url("jungle.jpg");
  background-repeat: no-repeat;
  height: 1080px;
}

.sec2 {
  background-image: url("amazon.jpg");
  background-repeat: no-repeat;
  height: 1080px;
}

#rub {
  margin-left: 30px;
  margin-right: auto;
  font-size: 50px;
  color: white;
}

.topbar {
  background-color: rgb(27, 204, 27);
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 10vh;
  z-index: 100;
}

.topbar a {
  float: right;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  font-size: 18px;
}

.topbar a:hover {
  background-color: lightgray;
  color: black;
}

.container1 {
  display: flex;
  width: 1000px;
  flex-direction: row;
  margin: 250px auto 100px;
  justify-content: space-evenly;
  align-items: center;
}

.container2 {
  display: flex;
  width: 1000px;
  flex-direction: row-reverse;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
}

.gifs {
  height: 360px;
  width: auto;
}
p {
  font-size: 20px;
  color: black;
}

.hamburger {
  margin-left: 20px;
  display: relative;
  width: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: 98;
  background-color: rgb(95, 228, 95);
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  margin: 0 auto 16px;
  display: block;
  width: 100%;
  max-width: 200px;
  text-align: center;
  padding: 12px 16px;
  background-color: white;
  border-radius: 10px;
  color: black;
  text-decoration: none;
}

@media only screen and (min-width: 913px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

.box {
  border: solid black 3px;
  padding: 6px;
  width: 325px;
  background-color: white;
  border-radius: 3%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px 5px 20px;
}

#logo {
  height: 50px;
  width: auto;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.storlek {
  font-size: 35px;
}

.sec3 {
  background-image: url("jungle2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 900px;
}

h5 {
  margin-top: 30px;
  font-size: 50px;
}

.box2 {
  border: solid black 3px;
  height: fit-content;
  padding: 5px;
  margin-top: 50px;
  width: 950px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
li {
  font-size: 18px;
  list-style: circle;
  margin-bottom: 3px;
}
ul {
  margin: 2em;
}

footer {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
  background-color: rgb(27, 204, 27);
}

i {
  margin: 0 20px 20px 0;
  font-size: 40px;
  color: white;
}

@media only screen and (max-width: 912px) {
  .container1 {
    width: 95%;
    margin: 250px auto;
    justify-content: center;
  }

  .container2 {
    width: 95%;
    justify-content: center;
    margin: 50px auto;
  }

  #rub {
    margin: 0 auto;
  }

  .topbar a {
    display: none;
  }

  .gifs {
    height: 190px;
    width: auto;
  }

  .box {
    width: 45%;
  }

  .box2 {
    width: 70%;
  }
  h5 {
    font-size: 35px;
  }

  .sec3 {
    height: 1200px;
  }

  li {
    font-size: 16px;
  }
}

@media only screen and (max-width: 414px) {
  .container1 {
    width: 95%;
    margin: 250px auto;
    justify-content: center;
  }

  .container2 {
    width: 95%;
    justify-content: center;
  }

  #rub {
    font-size: 35px;
    margin: 0 auto;
  }

  .topbar a {
    display: none;
  }

  .gifs {
    height: 126px;
    width: auto;
  }

  .box {
    width: 39%;
    margin: 50px auto 50px;
  }

  .box2 {
    margin-top: 100px;
    width: 70%;
  }
  h5 {
    font-size: 35px;
  }

  p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 375px) {
  #rub {
    font-size: 30px;
  }

  p {
    font-size: 11px;
  }

  h5 {
    font-size: 22px;
  }
}
